# Ignore everything by default
*

# Explicitly version-controlled files
!.gitignore
!README.md
!CHANGELOG.md
!config.yaml.example
!requirements.txt
!setup-borgmatic.sh

# Continuous integration
!.github/
!.github/workflows/
!.github/workflows/shellcheck.yml
!.github/workflows/pinned-versions.yml
!.github/scripts/
!.github/scripts/check-pinned-versions.sh
